.main-container {
  padding-top: 2rem;
  padding-left: 42rem;
  padding-right: 42rem;
  color: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.button-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-with-div {
  margin-top: 0.25rem;
  height: 0.25rem;
  width: 6.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

checkit {
  color: rgb(54, 54, 54);
}
