.container2 {
  padding: 0rem 36rem 0rem 36rem;
}

.resume-container {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(23, 25, 27, 0.5);
  border-radius: 0.5rem;
  height: 6vh;
  padding-left: 0rem;
  padding-right: 0rem;
}

.figure-container {
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.figure-image {
  border-radius: 0.25rem;
}

@media only screen and (max-width: 1919px) {
  .container2 {
    padding: 0rem 16rem 0rem 16rem;
  }
}

@media only screen and (max-width: 1440px) {
  .container2 {
    padding: 0rem 2rem 0rem 2rem;
  }

  .resume-container {
    height: 8vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
