* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: rgb(28, 30, 33);
  min-height: 100vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.resume {
  text-indent: 2rem;
  text-align: justify;
  text-indent: 1em;
  line-height: 1.5rem;
}
