* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: rgba(32, 32, 35, 255);
  min-height: 100vh;
  min-width: 100vh;
}

.resume {
  color: rgb(226, 226, 226);
  text-indent: 2rem;
  text-align: justify;
  text-indent: 1em;
  line-height: 1.5rem;
}
