.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
}

.container {
  height: 6vh;
  background-color: rgba(23, 25, 27, 0.5);
  backdrop-filter: blur(4px);
  padding: 0 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.second-nav-items {
  display: flex;
  gap: 0.5rem;
}

.nav-opt {
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
}

.media-box1 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.media-box2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.media-box3 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

@media only screen and (max-width: 1919px) {
  .container {
    padding: 0 16rem;
  }
}

@media only screen and (max-width: 968px) {
  .container {
    padding: 0 2rem;
    flex-direction: column;
    height: 12vh;
  }
}
