.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  padding: 0 36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.second-nav-items {
  display: flex;
  gap: 0.5rem;
}

.nav-opt {
  color: rgb(54, 54, 54);
  font-weight: 500;
  cursor: pointer;
}

.media-box1 {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #23a0d4;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.media-box2 {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ff64c6;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.media-box3 {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffac30;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}
