.container2 {
  padding: 0rem 36rem 0rem 36rem;
}

.works-figure-container {
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.work-image {
  border-radius: 0.25rem;
}

.work-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #FFF;
  width: 100%;
}

.work-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.work-date {
  padding: 2px 4px 2px 4px;
  background-color: rgb(24, 24, 24);
  border-radius: 2px;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

.work-desc {
  text-indent: 1rem;
}

.work-second-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.work-second-desc-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.work-link {
  color: #fff;
}

.work-second-desc-badge {
  padding: 2px 4px 2px 4px;
  background-color: #005DDF;
  border-radius: 2px;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

.work-name {
  font-weight: bold;
  font-size: 1.125rem;
}

.work-works-keyword {
  color: #DB02FC;
}

@media only screen and (max-width: 1919px) {
  .container2 {
    padding: 0rem 16rem 0rem 16rem;
  }
}

@media only screen and (max-width: 1440px) {
  .container2 {
    padding: 0rem 2rem 0rem 2rem;
  }

  .works-figure-container {
    padding-top: 10rem;
  }
}
